<div ng-controller="PhonebookController" class="phonebook">
    <ul class="contacts">
        <li ng-repeat="contact in contacts" class="contact">
            <div class="name">{{contact.lastName}}, {{contact.firstName}}</div>
            <div class="phonenumber">{{contact.phoneNumber}}</div>
        </li>
    </ul>

    <p>First Name: <input type="text" name="model.firstName" ng-model="model.firstName" required /></p>
    <p>Last Name: <input type="text" name="model.lastName" ng-model="model.lastName" required /></p>
    <p>Phone number: <input type="text" name="model.phoneNumber" ng-model="model.phoneNumber" required /></p>
    <input type="button" value="Send" ng-click="postContact(firstName, lastName, phoneNumber)" /> <br/><br/>
    <p>Output Message : {{msg}}</p>

</div>
